---
layout: default
title: Home
---

<div class="page">
  <h1 class="page-title">About</h1>
  <!-- <img src="http://placehold.it/200x200" alt="placeholder" title="Small example image"> -->
  <img id="profile-picture" src="/public/profile_image.png" alt="Lauren's face" title="profile picture">

  <p class="message">Hi. I'm Lauren. When I’m not taming asynchronous JavaScript behaviour or basking in the clarity of great Ruby code you can find me competing with myself in the pilates studio and occasionally indulging in whisky-based cocktails.</p>

  <h2>Present</h2>
  <p>In April 2015 I graduated from General Assembly's 12-week, full-time Web Dev Immersive course. <span class="about-present-hidden">At GA I learned how to manage the complexity inherent in building sustainable apps. I planned projects and wrote well-factored, readable code while utilising git for version control. I love how each language and framework has a history that influences its structure and uses, and I'm happiest uncovering new ways to organise my code to best utilise a language’s strengths and quirks.</span></p>

  <p>When the course was over GA hired me as a teaching assistant for the subsequent cohort. <span class="about-present-hidden">From April-July 2015 I will instruct and support students as they learn server and client side languages and frameworks including Ruby on Rails, JavaScript, AJAX, Firebase, Node.js, and CSS/HTML. <a id="view-less-present"><em>less</em></a></span><a id="view-more-present"><em>more...</em></a></p>

  <h2>Past</h2>
  <p>Before moving to London I researched and taught maths and music in NYC. <a id="view-more-past"><em>more...</em></a><span class="about-past-hidden">I loved solving conceptual problems, but after exploring the same topics for a few years, I was eager for new challenges.</span></p>

  <span class="about-past-hidden"><p>Looking for something faster-paced I began working in startup operations. I had great fun understanding customer concerns and articulating fixes that would improve the business. But once the issue was passed to the tech guys, my job was done.</p></span>

  <span class="about-past-hidden"><p>Watching the developers work, I knew I could excel at coding. Like finding ways to explain musical structures with math, programming seemed all about problem solving, but with the added bonus of impacting the real-world. <a id="view-less-past"><em>less</em></a></p></span>

  <h2>Future</h2>

  <p>I am looking for a junior dev role beginning July/August 2015. I love working with Ruby (on Rails) and JavaScript, but I'm up for anything! <a id="view-more-future"><em>more...</em></a><span class="about-future-hidden"><span class="about-future-hidden">Regardless of the toolset, I'm aiming to learn and excel in a demanding envionment. <a id="view-less-future"><em>less</em></a></span></p>


  

  

</div>





<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->